.rodape{
    float: left;
    margin-top: 37px;
}

@media only screen and (max-width: 1024px) {
    /* For desktop: */
    
    .rodape{
        float: left;
        margin-top: 37px;
    }
    }

@media only screen and (max-width: 900px) {
  /* For desktop: */
  
  .rodape{
    margin-top: 90px;
}
}

@media only screen and (max-width: 768px) {
    .rodape{
        margin-top: 90px;
    }
}