.time{
    text-align: center;
    margin-left: 50px;
    color: #9e0a0a;
}
#margin_equipe{
    margin-top: 80px;
}
.gabrielhf{
    float: left;
    margin-left: 450px;
}
.ghf_name{
    margin-left: 20px;
}
.ghf_rm{
    margin-top: -5px;
    margin-left: 70px;
}
.gabrielhs{
    float: left;
    margin-left: 180px;
}
.ghs_name{
    margin-left: 35px;
}
.ghs_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.gustavo{
    float: left;
    margin-top: -386px;
    margin-left: 1305px;
}
.gbb_name{
    margin-left: 25px;
}
.gbb_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.guilherme{
    float: left;
    margin-top: -10px;
    margin-left: 610px;
}
.gdg_name{
    margin-left: 30px;
}
.gdg_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.rafael{
    float: left;
    margin-top: -10px;
    margin-left: 260px;
}
.rls_name{
    margin-left: 50px;
}
.rls_rm{
    margin-top: -5px;
    margin-left: 70px;
}