.time{
    text-align: center;
    margin-left: 50px;
    color: #9e0a0a;
}
#margin_equipe{
    margin-top: 80px;
}
.gabrielhf{
    float: left;
    margin-left: 450px;
}
.ghf_name{
    margin-left: 20px;
}
.ghf_rm{
    margin-top: -5px;
    margin-left: 70px;
}
.gabrielhs{
    float: left;
    margin-left: 180px;
}
.ghs_name{
    margin-left: 35px;
}
.ghs_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.gustavo{
    float: left;
    margin-top: -386px;
    margin-left: 1305px;
}
.gbb_name{
    margin-left: 25px;
}
.gbb_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.guilherme{
    float: left;
    margin-top: -10px;
    margin-left: 610px;
}
.gdg_name{
    margin-left: 30px;
}
.gdg_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.rafael{
    float: left;
    margin-top: -10px;
    margin-left: 260px;
}
.rls_name{
    margin-left: 50px;
}
.rls_rm{
    margin-top: -5px;
    margin-left: 70px;
}

@media only screen and (max-width: 1024px) {
    /* For desktop: */
    
    .time{
        text-align: center;
        margin-left: -86px;
        color: #9e0a0a;
    
    }
    #margin_equipe{
        margin-top: 80px;
    }
    .gabrielhf{
        float: left;
        margin-left: 152px;
    }
    .ghf_name{
        margin-left: 20px;
    }
    .ghf_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    .gabrielhs{
        float: left;
        margin-left: 180px;
    }
    .ghs_name{
        margin-left: 35px;
    }
    .ghs_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    
    .gustavo{
        float: left;
    margin-top: -9px;
    margin-left: 151px;
    }
    .gbb_name{
        margin-left: 25px;
    }
    .gbb_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    
    .guilherme{
        float: left;
        margin-top: -384px;
        margin-left: 567px;
    }
    .gdg_name{
        margin-left: 30px;
    }
    .gdg_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    
    .rafael{
        float: left;
        margin-top: -70px;
        margin-left: 361px;
    }
    .rls_name{
        margin-left: 50px;
    }
    .rls_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
}

@media only screen and (max-width: 900px) {
  /* For desktop: */
  
  .time{
    text-align: center;
    margin-left: -255px;
    color: #9e0a0a;
}
#margin_equipe{
    margin-top: 80px;
}
.gabrielhf{
    float: left;
    margin-left: 27px;
}
.ghf_name{
    margin-left: 20px;
}
.ghf_rm{
    margin-top: -5px;
    margin-left: 70px;
}
.gabrielhs{
    float: left;
    margin-left: 180px;
}
.ghs_name{
    margin-left: 35px;
}
.ghs_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.gustavo{
    float: left;
    margin-top: -55px;
    margin-left: 39px;
}
.gbb_name{
    margin-left: 25px;
}
.gbb_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.guilherme{
    float: left;
    margin-top: -394px;
    margin-left: 435px;
}
.gdg_name{
    margin-left: 30px;
}
.gdg_rm{
    margin-top: -5px;
    margin-left: 70px;
}

.rafael{
    float: left;
    margin-top: -70px;
    margin-left: 222px;
}
.rls_name{
    margin-left: 50px;
}
.rls_rm{
    margin-top: -5px;
    margin-left: 70px;
}
}

@media only screen and (max-width: 768px) {
    .time{
        text-align: center;
        margin-left: -255px;
        color: #9e0a0a;
    }
    #margin_equipe{
        margin-top: 80px;
    }
    .gabrielhf{
        float: left;
        margin-left: 27px;
    }
    .ghf_name{
        margin-left: 20px;
    }
    .ghf_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    .gabrielhs{
        float: left;
    margin-left: 37px;
    }
    .ghs_name{
        margin-left: 35px;
    }
    .ghs_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    
    .gustavo{
        float: left;
        margin-top: -55px;
        margin-left: 39px;
    }
    .gbb_name{
        margin-left: 25px;
    }
    .gbb_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    
    .guilherme{
        float: left;
        margin-top: -394px;
        margin-left: 294px;
    }
    .gdg_name{
        margin-left: 30px;
    }
    .gdg_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
    
    .rafael{
        float: left;
        margin-top: -70px;
        margin-left: 145px;
    }
    .rls_name{
        margin-left: 50px;
    }
    .rls_rm{
        margin-top: -5px;
        margin-left: 70px;
    }
}